<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cai.dao.TimeSlotMapper">
    <!--
        查询语句
        resultType：返回的实体类的类型，类全名
    -->
<!--    <select id="FindAllTimeSlot" resultType="TimeSlot">-->
<!--        select * from timeslot-->
<!--    </select>-->
</mapper>